*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #050D21;
}
.container{
  height: 300px;
  width: 350px;
  background-color:  #C9D5EE;
  border-radius: 20px;
}
.timer{
  height: 60%;
  background-color:  #1A67F8;
  width: 100%;
  font-weight: bolder;
  border-radius: 20px;
  /* color: rgb(242, 236, 236); */
  color: #050D21;
}
.btns{
  height: 40%;
}
.timer,.btns{
  display: flex;
  font-size: 50px;
  font-family: cursive;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn{
  font-size: 20px;
  font-family: cursive;
  border: none;
  margin: 0 1.25rem;
  padding: 0.625rem;
  border-radius: 0.5rem;
  /* background-color: royalblue; */
  background-color:   #1A67F8;
  color: #050D21;
  cursor: pointer;
}
.btns .btn:active{
  transform: scale(.90);
}