*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #424242;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box{
  height: 150px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 10px solid #ac6d1b;
  margin: 30px;
  border-radius: 10px;
  transform: translateX(-200%);
  opacity: 0;
  transition: transform 600ms ease-in-out;
}
.box:nth-of-type(even){
  transform: translateX(100%);
  transition: transform 600ms ease-in-out;
}
.box h2{
  font-family: cursive;
  color: #fff;
}
.show{
  transform: translateX(0%) !important;
  opacity: 1;
}
.new-boxs{
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: space-evenly;
  margin-bottom: 30px;
}
.new-box{
  height: 200px;
  width: 200px;
  background-color: #635c5c;
  border-radius: 5px;
  transform: translateX(-150%);
}
.new-box:nth-child(1){
  transition: all 600ms ease-in;
  transform: translateX(-150%);
}
.new-box:nth-child(2){
  transition: all 500ms ease-in;  
  transform: translateX(-240%);
  
}
.new-box:nth-child(3){
  transition: all 400ms ease-in;
  transform: translateX(-300%);
}
.new-show{
  transform: translateX(0%) !important;
  opacity: 1;
}